.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  overflow: hidden;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.home-container01 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-main {
  top: 0px;
  flex: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 122;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
}
.home-background {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  z-index: 99;
  position: absolute;
  object-fit: cover;
}
.home-video {
  width: 100%;
  height: auto;
  z-index: 1;
}
.home-slogan {
  width: 100%;
  height: 60%;
  display: flex;
  z-index: 100;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  color: #ffffff;
  width: auto;
  font-size: 150px;
  font-style: normal;
  margin-top: 5%;
  font-family: Impact;
  font-weight: 400;
  margin-left: 3%;
}
.home-container02 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 40%;
  display: flex;
  z-index: 100;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 3%;
  margin-bottom: 0%;
  flex-direction: column;
  justify-content: center;
}
.home-text05 {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 800;
  line-height: 0.1;
  margin-bottom: 0px;
}
.home-text08 {
  color: #dcdcdc;
  width: 50%;
  font-style: normal;
  text-align: justify;
  font-family: Open Sans;
  font-weight: 300;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text10 {
  font-weight: 500;
}
.home-text12 {
  font-weight: 500;
}
.home-container03 {
  gap: var(--dl-space-space-twounits);
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-playnow {
  width: var(--dl-size-size-large);
  display: flex;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 800;
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: #50ff80;
  transition-timing-function: ease-in-out;
}
.home-playnow:hover {
  cursor: pointer;
  transform: scale(1.25);
  background-color: #b9f3a1;
}
.home-playnow:active {
  transform: scale(1);
  transition: 0.1s;
  background-color: #3cc964;
}
.home-text14 {
  color: #000000;
  font-size: 12px;
  line-height: 1.75;
}
.home-learnmore {
  width: var(--dl-size-size-large);
  display: flex;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 800;
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
  transition-timing-function: ease-in-out;
}
.home-learnmore:hover {
  cursor: pointer;
  transform: scale(1.25);
  background-color: #b9f3a1;
}
.home-learnmore:active {
  transform: scale(1);
  background: #3cc964;
  transition: 0.1s;
}
.home-text17 {
  color: #000000;
  font-size: 12px;
  line-height: 1.75;
}
.home-support {
  width: var(--dl-size-size-large);
  display: flex;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 800;
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  transition-timing-function: ease-in-out;
}
.home-support:hover {
  cursor: pointer;
  transform: scale(1.25);
  background-color: #b9f3a1;
}
.home-support:active {
  transform: scale(1);
  transition: 0.1s;
  background-color: #3cc964;
}
.home-text20 {
  color: #000000;
  font-size: 12px;
  line-height: 1.75;
}
.home-endtext {
  left: 0px;
  color: #dcdcdc;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 300;
  margin-left: 0px;
  user-select: none;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  animation-timing-function: ease-in-out;
}
.home-endtext:hover {
  color: #b9f3a1;
  transform: scale(1.25);
}
.home-endtext:active {
  color: #3cc964;
  transform: scale(0.75);
  transition: 0.2s;
}
.home-text22 {
  text-decoration: underline;
}
.home-learnmore1 {
  top: 100%;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 144;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  padding-top: 3%;
  padding-left: 3%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.home-text24 {
  color: #ffffff;
  font-size: 24px;
}
.home-text27 {
  color: #dcdcdc;
  width: 100%;
  font-style: normal;
  text-align: justify;
  font-family: Open Sans;
  font-weight: 300;
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container04 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: #50ff80;
  animation-timing-function: ease-in-out;
}
.home-container05:hover {
  transform: scale(1.1);
}
.home-container06 {
  width: 382px;
  height: 160px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/out-2022-06-26_15.08.00%20-%20kopie-200h.png");
  background-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-text28 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  user-select: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.home-text28:hover {
  opacity: 1;
}
.home-title {
  color: #000000;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  user-select: none;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: #50ff80;
  animation-timing-function: ease-in-out;
}
.home-container07:hover {
  transform: scale(1.1);
}
.home-container08 {
  width: 382px;
  height: 160px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/out-2022-11-04_13.04.03-200h.png");
  background-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-text31 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  user-select: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.home-text31:hover {
  opacity: 1;
}
.home-title1 {
  color: #000000;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  user-select: none;
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: #50ff80;
  animation-timing-function: ease-in-out;
}
.home-container09:hover {
  transform: scale(1.1);
}
.home-container10 {
  width: 382px;
  height: 160px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/out-2022-08-06_13.06.30%20-%20kopie-200h.png");
  background-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-text34 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  user-select: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.home-text34:hover {
  opacity: 1;
}
.home-title2 {
  color: #000000;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  user-select: none;
}
.home-text35 {
  color: #dcdcdc;
  width: 100%;
  font-style: normal;
  text-align: justify;
  font-family: Open Sans;
  font-weight: 300;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text36 {
  font-weight: 500;
}
.home-link {
  text-decoration: none;
}
@media(max-width: 479px) {
  .home-video {
    flex: 1;
    left: -200%;
    width: 500%;
  }
  .home-slogan {
    flex: 1;
    width: 100%;
    height: auto;
    position: static;
    background-size: cover;
    background-position: center;
  }
  .home-text01 {
    font-size: 70px;
    margin-top: 20%;
  }
  .home-container02 {
    width: 100%;
    height: auto;
    align-self: center;
    margin-right: 0%;
    margin-bottom: 10%;
    padding-right: var(--dl-space-space-unit);
  }
  .home-text08 {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
  .home-container03 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-text27 {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
  .home-text35 {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
}
